:root {
    --dark-grey: #848B8D;
    --light-grey: #CACBCD;
    --grey: #B1B1B1;
}

/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

menu,
ul,
ol {
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
}

/*LAYOUT*/

#app {
    height: 100vh;
    background: linear-gradient();
}

.container {
    display: flex;
    height: 100%;
}

.app-sidebar {
    display: none;
}

.row {
    display: flex;
}

/*TOP BAR*/

.side-header, .main-header {
    background-color: #EAEAEA;
}

.side-header .row,.main-header .row {
    align-items: center;
    padding: 10px 15px;
    justify-content: space-between;
}

.side-header ul,.main-header ul {
    display: none;
    color: var(--grey);
    font-size: 18px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.side-header {
    border-right: 1px solid var(--grey);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/*UTILITY*/

.text-small {
    font-size: 12px;
}

.font-dark-grey {
    color: var(--dark-grey)
}

.space-between {
    justify-content: space-between;
}

/*RESPONSIVE*/

@media (min-width: 576px) {
    .app-sidebar {
        display: block;
        min-width: 50px;
    }

    .app-main {
        flex-grow: 1;
    }

    .main-header ul {
        display: flex;
        gap: 10px;
    }

}

@media (min-width: 992px) {
    #app {
        padding: 20px 0;
    }

    .container {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .app-sidebar {
        min-width: 200px;
    }

    .side-header ul {
       display: flex;
       gap: 10px;
    }

}

/*DEBUG*/

.debug #app {
    background-color: aquamarine;
}

.debug .container {
    border: 1px solid black;
    min-height: 300px;
}

.debug .app-sidebar {
    background-color: rgb(255, 50, 152);

}

.debug .app-main {
    background-color: rgb(148, 61, 255);
    width: 100%;
}